html,
body {
  width: 100%;
  height: 100%;
}
.test{
  transform: translateY(-50);
  display: flex;
}
::-webkit-search-results-button{
  color: red
}
@keyframes gogo{
  1%{
    background: red;
  }
  100%{
    background: green
  }
}
* {
  padding: 0;
  margin: 0
}

@media screen and (min-width: 320px) and (max-width:375px) {
  html {
    font-size: 87.5%
  }
}

@media screen and (min-width:375px) and (max-width:768px) {
  html {
    font-size: 100%;
  }
}

@media screen and (min-width:768px) {
  html {
    font-size: 162.5%
  }
}

.main_bg {
  background: url('../assets/download_bg.png');
  background-size: 100% 100%;
  width: 100% !important;
  height: 100% !important;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.main_bg img {
  width: 5.625rem;
  height: 5.625rem;
  margin-top: 0.16rem;
}

.app_title {
  font-size: 2.5rem;
  color: rgb(80, 80, 80);
  font-weight: 500;
  font-family: '微软雅黑', sans-serif;
  margin-top: 0.16rem;
}

.app_subtitle {
  color: rgb(80, 80, 80);
  font-family: '微软雅黑', sans-serif;
  font-size: 1.75rem;
  margin-top: 0.16rem;
  width: -webkit-calc(100% - 100px);
  width: -moz-calc(100% - 100px);
  width: calc(100% - 100px);
  text-align: center
}

.button_common {
  background: #3EA0F7;
  padding: 0.625rem 0.625rem;
  border-radius: 0.375rem;
  width: -webkit-calc(100% - 100px);
  width: -moz-calc(100% - 100px);
  width: calc(100% - 100px);
  color: rgb(255, 255, 255);
  font-family: '微软雅黑', sans-serif;
  font-size: 1.1875rem;
}

.button_common img {
  width: 1rem !important;
  height: 1rem !important;
  margin-right: .875rem
}

.button_common:active {
  background: #124674;
}

.app_ios {
  text-align: center;
  margin-bottom: 2.5rem;
}

.app_android {
  margin-bottom: 1.875rem;
  margin-top: 1.47rem;
  text-align: center;
}
